<!DOCTYPE html>

<html lang="pt-br" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>HMS</title>


  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br>
  <br>

  <div class="jumbotron" style="margin-top: 0px;
    margin-bottom: 0px;">
    <h1 class="display-4">Olá {{request.user.first_name}}</h1>
    <p class="lead">Sua conta ainda não foi aprovada <br><br>Nossa equipe esta verificando suas informações<br><br> Em breve confirmaremos sua conta !</p>
    <hr class="my-4">
    <p>Verifique Mais Tarde</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/logout" role="button">Sair</a>
    </p>
  </div>

  {% include "hospital/footer.html" %}
</body>


</html>
